configuration/schema_configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="color"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element name="hospital">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rooms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="room" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="color"/>
                          <xs:element name="patients">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="patient">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="name"/>
                                      <xs:element type="xs:string" name="color"/>
                                      <xs:element type="xs:int" name="position_x"/>
                                      <xs:element type="xs:int" name="position_y"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="properties">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="key" use="optional"/>
                      <xs:attribute type="xs:int" name="from" use="optional"/>
                      <xs:attribute type="xs:int" name="to" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="behaviours">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="behaviour" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="key" use="optional"/>
                      <xs:attribute type="xs:int" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>